
<div class="cuerpo">

  <div class="contenedor">

    <div class="contenido1">
      <app-nav-left2></app-nav-left2>
    </div>

    <div class="contenido2">

        <div class="sub-contenido1">

          <div class="graficas-sub-contenido1">

            <app-text-seguros2></app-text-seguros2>
          </div>

          <div *ngIf="vistas2.numero4 === null || vistas2.numero4 === 1 || vistas2.numero4 === 2 || vistas2.numero4 === 3">
            <app-seguros-search></app-seguros-search>
          </div>

          <!-- BOTONES -->
          <div>
            <app-seguros-btn></app-seguros-btn>
          </div>

        </div>

        <div class="sub-contenido2">


          <div class="contenido-resultado">

            <div *ngIf="vistas2.numero4 === 1">
              <app-seguros-doc></app-seguros-doc>
            </div>

            <div *ngIf="vistas2.numero4 === 2">

              <app-pdf-seguros></app-pdf-seguros>

            </div>
          </div>


        </div>
    </div>

  </div>
</div>


