:root {
    --white: #fafafb;
    --purple:#676eea;
    --blue-light:#6c35b5;
    --blue-dark:#2a73c2;
    --green: #2c7b90;
   }

  a:link,
  a:visited,
  a:active {
      text-decoration: none;
      color: #fff;

  }

  a {
    border: none;

  }

  .login{
    background-color: #2c7ac3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(24%2c 47%2c 93%2c 1)'%3e%3c/rect%3e%3cpath d='M525 9L524 151' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M593 509L592 798' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M727 393L726 177' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M111 40L110 340' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M232 524L231 205' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1186 354L1185 684' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M708 332L707 543' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M233 311L232 70' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1025 500L1024 787' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1318 301L1317 675' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M396 270L395 7' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1069 379L1068 39' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M725 295L724 547' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M541 363L540 156' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M227 343L226 13' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1230 161L1229 303' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M646 460L645 690' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M276 303L275 -12' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M313 27L312 417' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M378 414L377 666' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1414 542L1413 820' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1181 279L1180 -130' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1105 214L1104 -47' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1290 492L1289 113' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M299 289L298 48' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M862 162L861 -212' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M163 128L162 505' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M454 349L453 594' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1162 151L1161 387' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M760 99L759 336' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M708 335L707 -33' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M458 206L457 64' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M44 386L43 686' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M931 50L930 196' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M251 472L250 705' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M81 516L80 208' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }


  .login{
    background-image: url("../../../assets/fondos/d7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        max-width: 50%;
        min-width: 480px;
        display: flex;
        background-color: white;
        border-radius: 25px;
        min-height: 460px;
        overflow: hidden;
        border: 2px solid #ffffff;

        .left{
          flex: 1;
          background-image: url("../../../assets/navbar/fond3.svg");
          background-size: cover;
          background-position-x: -75px;
        }

        .left{
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 15px;
            color: white;


            img{
              display: block;
              margin: 0 auto;
            }
            h1{
                font-size: 50px;
                line-height: 50px;

            }
            p{
                font-size: 16px;

            }
            span{
                font-size: 16px;
                padding-bottom: 10px;

            }

        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            h1{
              font-family: Arial, Helvetica, sans-serif;
                color: rgb(93, 93, 93);
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;

                }
                button{
                    max-width: 115px;
                    padding: 10px 5px;
                    margin-top: 20px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    border-radius: 25px;
                    cursor: pointer;
                    background-image: linear-gradient(to bottom right, #2d5293, #356cb1);
                    box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
                }
                button:hover{
                  background-image: linear-gradient(to bottom right, #2d5292, #468be0);
                  color: #ffffff;

                }
            }
        }
    }
  }

  @media only screen and (max-width: 900px) {


  }
