<div>
    <div class="panel">
      <div class="fichas">
        <a (click)="mostrarComponente(1)">
          <div class="ficha">
            <h3>Modificar Documento</h3>
            <img src="../../../assets/icons/modificado.png" width="130px" height="115px" alt="logo-ficha">
          </div>
        </a>
  
        <!--
        <a (click)="mostrarComponente(2)">
          <div class="ficha">
            <h3>Agregar Estudiantes</h3>
            <img src="../../../assets/agregar.png" width="120px" height="114px" alt="logo-ficha">
          </div>
        </a>
        -->
  
      </div>
    </div>
  </div>
  
  