* {
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  background-color: #ffffffd7;
  padding: 0px 40px;

}

.fecha{
  white-space: nowrap;
  width: 82px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
}

.titulo{
  text-align: center;
  margin: auto;

    h1{
      color: #03396e;
      display: inline-block;
      border-bottom: 4px solid #2ea0e2;
      padding-bottom: 1px;
      margin-bottom: 5px;
    }
}

.tab-panelx{

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 15px;

  h2, h3{
    color: #03396e;
  }
}

.boton{
  width: 80px;
  padding: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #2d5293, #356cb1);
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
}

.boton:hover{
  background-image: linear-gradient(to bottom right, #2d5292, #468be0);
  color: #ffffff;

}

input{
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 8px;
  padding: 8px 5px;
  margin: 4px;
  border: none;
  outline: none;
  margin: 5px 0px;
}

.titulo-art{
  margin: 10px 0px;
  color: #03396e;
}

.titulo-extra{
  margin-bottom: 5px;
  margin-top: 20px;
  color: #03396e;
}

.parentesco{
  input{
    margin: 15px 0px;
  }
}

input{
  margin: 10px 0px;
}

.contenedor {
  p {
    margin: 10px 0px;
  }
}
