<div class="tabset">

    <!-- Tab 1 -->
    <input class="tabset-btn" type="radio" name="tabset" id="tab1" aria-controls="marzen" checked />
    <label class="tabset-btn"  for="tab1">Matricula</label>
    <!-- Tab 2 -->
    <input class="tabset-btn"  type="radio" name="tabset" id="tab2" aria-controls="rauchbier" />
    <label class="tabset-btn"  for="tab2" (click)="onLabelClick()">Record Escolar</label>
    <!-- Tab 3 -->
    <input class="tabset-btn"  type="radio" name="tabset" id="tab3" aria-controls="dunkles" />
    <label class="tabset-btn"  for="tab3" (click)="onLabel2Click()">DECE</label>
  
    <div class="tab-panels">
      <!-- Tab 1 -->
  
      <section id="marzen" class="tab-panel">
        <app-pdf-matricula></app-pdf-matricula>
      </section>
  
      <!-- Tab 2 -->
  
      <section id="rauchbier" class="tab-panel">
        <app-pdf-record></app-pdf-record>
      </section>
  
      <!-- Tab 3 -->
  
      <section id="dunkles" class="tab-panel">
        <app-pdf-dece></app-pdf-dece>
      </section>
    </div>
  </div>
  