<div class="fondo">

  <div class="wrapper-titulo">

  <div class="wrapper-botones">
    <div class="botones">

      <button (click)="mostrarComponente2(1)" class="boton2">
        <img src="../../../assets/icons/editar.png" width="40" height="40" alt="editar doc">
      </button>

      <button (click)="mostrarComponente2(2)" class="boton2">
        <img src="../../../assets/icons/pdf.png" width="40" height="40" alt="vista pdf">
      </button>

      <button (click)="convertirADivsAPDF()" class="boton2">
        <img src="../../../assets/icons/descargar3.png" width="40" height="40" alt="descargar pdf">
      </button>

      <button
        [printStyle]=formatoEstilos2
        printTitle="Record"
        printSectionId="pdf"
        ngxPrint
        class="boton2" type="button">
        <img src="../../../assets/icons/impresora3.png" width="40" height="40" alt="imprimir pdf">
      </button>

    </div>
  </div>

  <h2>{{cursoid}} / {{jornadaid}} / {{anioid}}</h2>

  </div>

  <br>

  <div class="wrapper-tabla">
    <table class="tableizer-table" *ngIf="vistas2.numero2 === null || vistas2.numero2 === 1">
        <div class="tabla">

          <!-- Encabezado 2 -->
          <thead class="tcabezera">
            <tr class="tableizer-firstrow">
              <th class="title-tabla" colspan="21">DATOS DE LOS ESTUDIANTES</th>
            </tr>
            <tr class="tableizer-firstrow">
              <th rowspan="2">NOMBRES Y APELLIDOS</th>
              <th rowspan="2">No. CÉDULA</th>
              <th colspan="10">CALIFICACIONES EDUCACIÓN GENERAL BÁSICA</th>
              <th rowspan="2">PROMEDIO <br> BASICA</th>
              <th colspan="3">CALIFICACIONES <br> BACHILLERATO</th>
              <th rowspan="2">PROMEDIO <br> BACHILLER</th>
              <th rowspan="2">PROYECTO</th>
              <th rowspan="2">PARTICIPACIÓN</th>
              <th rowspan="2">OBSERVACIONES</th>
            </tr>
            <tr class="tableizer-firstrow">
              <th>1°</th>
              <th>2°</th>
              <th>3°</th>
              <th>4°</th>
              <th>5°</th>
              <th>6°</th>
              <th>7°</th>
              <th>8°</th>
              <th>9°</th>
              <th>10°</th>
              <th>1°</th>
              <th>2°</th>
              <th>3°</th>
            </tr>
          </thead>

          <!-- Calificaciones -->

          <tbody class="tcuerpo" *ngIf="record.length > 0; else tbody2">
            <tr *ngFor="let item of record">
              <td>
                {{item.nombres}}, {{item.apellidos}}
              </td>
              <td>
                {{item.cedula}}
              </td>
              <td>
                {{item.primero}}
              </td>
              <td>
                {{item.segundo}}
              </td>
              <td>
                {{item.tercero}}
              </td>
              <td>
                {{item.cuarto}}
              </td>
              <td>
                {{item.quinto}}
              </td>
              <td>
                {{item.sexto}}
              </td>
              <td>
                {{item.septimo}}
              </td>
              <td>
                {{item.octavo}}
              </td>
              <td>
                {{item.noveno}}
              </td>
              <td>
                {{item.decimo}}
              </td>
              <td>

                {{item.promedio_basic}}
              </td>
              <td>

                {{item.primero_bgu}}
              </td>
              <td>

                {{item.segundo_bgu}}
              </td>
              <td>

                {{item.tercero_bgu}}
              </td>
              <td>

                {{item.promedio_bgu}}
              </td>
              <td>

                {{item.proyecto}}
              </td>
              <td>
                {{item.participacion}}
              </td>
              <td>
                {{item.observaciones}}
              </td>
            </tr>
          </tbody>

          <ng-template #tbody2>
            <tbody class="tcuerpo">
              <tr>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
                <td>
                  Vacio
                </td>
              </tr>
            </tbody>
          </ng-template>

        </div>
    </table>
  </div>

  <div id="hoja_pdf1" *ngIf="vistas2.numero2 === 2">
    <div id="pdf" class="pdf">
      <app-pdf-record></app-pdf-record>
    </div>
  </div>

</div>
