
<div class="panel">

    <div class="fichas">

      <a routerLink="/matricula">
        <div class="ficha">
          <h3>Matricula</h3>
          <img src="../../../assets/icons/1.png" width="105px" height="110px" alt="logo-ficha">
        </div>
      </a>

      <a routerLink="/record-escolar">
        <div class="ficha">
          <h3>Record Escolar</h3>
          <img src="../../../assets/icons/2.png" width="100px" height="100px" alt="logo-ficha">
        </div>
      </a>

      <a routerLink="/dece">
        <div class="ficha">
          <h3>DECE</h3>
          <img src="../../../assets/icons/3.png" width="95px" height="105px" alt="logo-ficha">
        </div>
      </a>

      <a routerLink="/seguros">
        <div class="ficha">
          <h3>Seguros</h3>
          <img src="../../../assets/icons/5.png" width="95px" height="100px" alt="logo-ficha">
        </div>
      </a>

      <a routerLink="/estadisticas">
        <div class="ficha">
          <h3>Estadisticas</h3>
          <img src="../../../assets/icons/6.png" width="100px" height="105px" alt="logo-ficha">
        </div>
      </a>

      <!--
      <a routerLink="/estadisticas">
        <div class="ficha">
          <h3>Otros Archivos</h3>
          <img src="../../../assets/4.png" width="85px" height="95px" alt="logo-ficha">
        </div>
      </a>
      -->

    </div>

  </div>


