* {
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  background-color: #ffffffd7;
  box-shadow: 1px 2px 4px 1px rgba(31, 71, 135, 0.216);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 25px;
  max-width: 860px;
  padding: 15px 10px;

}

.titulo{
  text-align: center;
  margin: auto;

    h1{
      color: #03396e;
      display: inline-block;
      border-bottom: 4px solid #2ea0e2;
      margin-top: 10px;
      padding-bottom: 1px;
    }
}

.contenedor{
  margin: 10px 10px;


  h2, h3{
    color: #03396e;
    margin: 10px 0px;
  }
  label{
    font-size: 14px;
    margin: 10px 0px;
  }
}

label, p{
  color: #393939;
}

.hoja{
  margin: 0 auto;
  padding: 0px 30px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  padding-bottom: 25px;
  border-bottom: 1px solid #305aa0;

}

.hoja2{
  margin: 0 auto;
  padding: 0px 30px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  padding-bottom: 0px;

}

.datos-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.datos-2{
  display: flex;
  gap: 20px;

  input{
    margin: 7px 0px;
  }

}

.datos-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  input{
    margin: 7px 0px;
  }
}

.conten-text{

  input{
    margin: 7px 0px;
  }
}

.conten-text2{

  input {
    margin: 10px 5px;
  }
}

.conten-text3{

  input {
    margin: 10px 5px;
  }
}


.boton{
  width: 80px;
  padding: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #2d5293, #356cb1);
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
}

.boton:hover{
  background-image: linear-gradient(to bottom right, #2d5292, #468be0);
  color: #ffffff;

}

.pie-pagina{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
    color: #294b85;
  }
}

input{
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 8px;
  padding: 8px 5px;
  margin: 4px;
  margin: 5px 0px;
  outline: none;
}

.input1{
  width: 40%;
}

.input2{
  width: 50%;
}

.input3{
  width: 60%;
}

.input4{
  width: 70%;
}

.input5{
  width: 80%;
}

.input6{
  width: 90%;
}

.input7{
  width: 100%;
  background-color: transparent;
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0);
  text-decoration: none;
  border: transparent;
  outline: none;
  border: none;
}

.textarea1{
  background-color: transparent;
  outline: none;
  border: none;
}

.textarea2{
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0px;
  box-shadow: 0 1px 3px 0 rgba(31, 71, 135, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.titulo-art{
  margin: 10px 0px;
  color: #03396e;
}

.titulo-extra{
  margin-bottom: 5px;
  margin-top: 20px;
  color: #03396e;
}






.tablas1 {
  font-size: 14px;
  border: 1px solid #323232;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}

.tablas1 td, th {
  max-width: 150px;
  padding: 8px 8px;
  margin: 16px 8px;
  border: 1px solid #323232;
  text-align: left;

}

.tabla {
  background-color: #248de3;
  overflow: hidden;

}

.tableizer-table {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}

.tcabezera {
  background: linear-gradient( #2f5390, #3161ae);

}

.tcabezera th {
  border: 1px solid #248de3;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;
  margin: 8px;
  text-align: center;

}

.tcuerpo {
  border: 1px solid #248de3;
  background-color: #fff;
  overflow: hidden;

}

.tcuerpo td {
  padding: 6px;
  margin: 12px 6px;
  border: 1px solid #248de3;
  text-align: center;
  background-color: #fff;

}

.cedula{
  display: flex;
  gap: 5px;
  input{
    width: 120px;
    border: none;
  }
}

