* {
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .titulo_matric{
    text-align: center;
    margin: 8px 0px;
  }
  h1{
    color: #f2f2f2;
    display: inline-block;
    border-bottom: 4px solid #2ea0e2;
    padding-bottom: 1px;
  }
  
  
  .titulo{
    background-image: linear-gradient(to bottom right, #25467d, #356cb1);
    box-shadow: 2px 2px 6px rgba(58, 58, 58, 0.2);
    color: #ffffff;
    border-radius: 25px;
    margin: 25px 0px;
    padding: 10px 0px;
    height: 407px;
    display: grid;
    grid-template-columns: 360px;
  
    p{
      font-size: 1rem;
    }
  
  }
  
  
  .titulo{
    box-shadow: 0 3px 10px 0 rgba(31, 71, 135, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .titulo-foto{
    text-align: center;
  }
  
  
  /* Buscador */
  
  
  .buscadorx {
    margin-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
  }
  
  .input-buscar {
    text-indent: 1em;
    width: 200px;
    height: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffffffe7;
    caret-color: #f7f7f8;
    color: #000000;
    padding: 7px 5px;
    border: 2px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 1px;
    transition: all .2s ease;
  }
  
  .input-buscar:hover {
  border: 2px solid rgba(32, 32, 32, 0.16);
  }
  
  .input-buscar:focus {
  border: 4px solid #2f619e;
  background-color: #ffffffe7;
  }
  
  .buscador__btn {
    border: none;
    cursor: pointer;
    background-color: #2f5390;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buscador__btn img{
    transform: scale(1.5);
    padding: 10px;
  }
  
  .buscador__btn img:hover{
    transform: scale(1.7);
  }
  
  .buscador__btn:hover {
    background-color: #2f619e;
  }
  
  .icon-search{
    margin-left: -5px;
  }
  
  
  .titulo-estudiante{
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  
  .titulo-detalles{
    margin-left: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  
  }
  
  
  .titulo-detalles{
    margin-top: 20px;
    min-width: 280px;
  
  
    p{
      background-color: #ffffffe7;
      color: #242424;
  
    }
  }
  
  .titulo-detalles2{
    margin-left: 0px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    p{
      background-color: #ffffffe7;
      color: #242424;
      border-radius: 8px;
      min-width: 280px;
      margin: 7px;
      padding: 7px;
    }
  }
  
  
  
  
  
  .año{
    width: 55px;
    border-radius: 5px;
    border-color: #f0f0f0;
    margin-right: 15px;
  }
  
  .año:hover{
    border-color: #ffffff;
  }
  
  
  .titulos-estudiantes{
    text-align: center;
  
  }
  
  .resultado{
    margin-left: 5px;
    margin-top: 10px;
  
    p{
      background-color: #ffffffe7;
      color: #242424;
      border-radius: 8px;
      max-width: 275px;
      margin: auto;
      padding: 7px 7px;
    }
  
  }
  